<div class="container">

  <!--
    name is string interpolation (template expression).
      One way binding from 'name' property in component class to template.
    image source is property binding.
      One way binding from 'ringoPic' propterty in component class to template.
  -->
  <p [class.name]="updatedName" [style.font-weight]="fontWeight">Name: {{ name }}</p>

  <!-- Expressions will be converted to a string for display -->
  <!-- Number={{ 1 + 2 }}
  He was a Beatle ={{ wasHeABeatle }} -->

  <img class="image" [src]="profilePic">

  <!--
    name is property binding.
      One way binding from the 'name' property in app.component to the 'name' property
      on the @Input decorator in name.component
    newName is event binding.
      Event emitted from name.component @Output decorator initiates method in app.component passing
      data through $event.
  -->
  <app-name
    [name]="name"
    (newName)="updateName($event)">
  </app-name>

</div>
